form {
  display: block;
  max-width: 680px;
  margin: 0 auto;

  > div {
    margin: 20px 0;

    label {
      margin-bottom: 10px;
      display: block;
      text-transform: uppercase;

    }
    input {
      display: block;
      padding: 10px;
      width: 100%;
    }
  }
}

.center {
  text-align: center;
}

#error {
    color: red;
}

#submit-button {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    //top: 500px;
    //left: 500px;
}
