body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

header.main {
  margin: 100px 0;
}

#main {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 50px;

  h1 {
    text-align: center;
  }
}

.brand {
  text-align: center;

  .icon-logo {
    font-size: 10rem;
  }
}

.section {
  padding: 10px 0 20px;
}

h2 {
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
}

h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.top-space {
  padding-top: 40px;
}

.top-space-small {
  padding-top: 20px;
}
