$color-orange: #F26522;
$color-white: #fafbff;
$color-grey: #6d6b71;
$color-red: #E84624;
$color-blue: #244B82;
$color-blue-light: #3FA09D;
$color-yellow: #FBB11B;

$color-dark-text: $color-grey;
$color-input-border: #e7e7e7;
