<html>
<head>
    <link rel="stylesheet" href="/static/app.css"/>
    <script src="/static/signature_pad.min.js"></script>
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/subscribe.js"></script>
    <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{payment_id}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<html>
    <body>
    <div id="header">
    <form action="http://localhost:5000/finish" class="paymentWidgets" data-brands="VISA MASTER AMEX">
        
    </form>
    </div>
    </body>
</html>